<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<div class="header">Freeman Lab | St. John Fisher Univeristy</div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="active" href="/publications">Publications and Grants</a>
    <a class="active" href="/research">Research</a>
    <a class="active" href="/people">People</a>
    <a class="active" href="/contact">Contact</a>
</div>

<br><img src=static/Freeman_Ed.jpeg alt="EdwardFreeman.jpeg">

<body>
    <h1 id="prof_name">Edward A. Freeman</h1>
    <p id="subheader">Professor at St. John Fisher University
        <br><br>
        <b>Areas of Interest:</b> 
        <br>Cell to Cell communication: Endocrinology, Pharmacology, and Endocrine Disrupting Chemicals
        <br><br>
    <b>Education:</b><br>
    Ph.D., University of South Carolina<br>
    M.A., Kent State University<br>
    B.S., Ohio University
    </p>
</body>

</html>