<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>

<div class="header">Freeman Lab | St. John Fisher Univeristy</div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="active" href="/publications">Publications and Grants</a>
    <a class="active" href="/research">Research</a>
    <a class="active" href="/people">People</a>
    <a class="active" href="/contact">Contact</a>
</div>

<body>
    <h1>People involved to be displayed</h1>
</body>
</html>