<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div class="header">Freeman Lab | St. John Fisher Univeristy</div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="active" href="/publications">Publications and Grants</a>
    <a class="active" href="/research">Research</a>
    <a class="active" href="/people">People</a>
    <a class="active" href="/contact">Contact</a>
</div>
<body>
    <h1>Publications</h1>
    <p>Freeman, E. Obesity - An Epidemic with Unexpected Causes, Consequences, and Complexity. QUBES Educational Resources, 2020.<br>
        Theodosiou, N., Choi, C. and Freeman E. Professional societies can play a vital role in career development. Developmental Biology, 2020, 459, pp. 5 - 8.<br>
        Freeman, E., Theodosiou, N., Anderson, W. From bench to board-side: Academic teaching careers. Developmental Biology, 2020, 459, pp. 43 - 48.<br>
        Conner*, M. and Freeman, E. Using zebrafish (Danio rerio) to study the behavioral impacts of early bisphenol F exposure reveals decreased swim speed, increased distance between fish, and increased freezing behaviors. BIOS, 2020, 91(1), pp. 21-30.<br>
        Babich*, B., Roba*, G., Safura*, S., Callahan, K., and Freeman, E. Transcription of nanos-1 in Zebrafish Embryos is Not Affected by Bisphenol A: Evaluated Using Quantitative Real-Time PCR. American Journal of Undergraduate Research, 2019, 16(1), pp. 15 - 21.<br>
        Safura*, S., Roba*, G. and Freeman, E. Evaluating the effects of bisphenols F and S with respect to bisphenol A on primordial germ cell migration in zebrafish (Danio rerio) embryos using immunofluorescence microscopy. The American Journal of Undergraduate Research, 2019, 16(3), pp. 69 - 77.<br>
        D’Angelo*, J. and Freeman, E. Effects of endocrine-disrupting chemical exposure on zebrafish ovarian follicles. BIOS, 2017, 88.1, pp. 9-18.<br>
        Freeman, E., Jeffries, B., and Cardin, M. Integrating career exploration and planning in STEM through faculty partnerships. NACE Journal, 2014, pp. 29-34.<br>
        Freeman, E. The design and implementation of an effective career orientation course for undergraduate majors. College Teaching, 2012, 60:4, pp. 154-163.<br>
        Valentino, L. and Freeman, E. Career center, faculty, alumni build mock interview program together: A collaboration between career center and faculty yields benefits for all. NACE Journal, 2010, pp. 29-32.<br>
        Freeman, E. and Lynd-Balta, E. Developing information literacy skills early in an undergraduate curriculum. College Teaching, 2010, 58:3, pp. 109-115.<br>
        Johnson, M., Freeman, E., Gardner, D., and Hunt, P. Oxidative metabolism of pyruvate is required for meiotic maturation of oocytes in-vivo. Biology of Reproduction, 2007, Vol. 77 (1), pp. 2-8.<br>
        Susiarjo, M., Hassold, T., Freeman, E., and Hunt, P. Bisphenol A exposure in-utero disrupts early oogenesis in the mouse. PLoS Genet, 2007, Vol. 3(1):e5.<br>
        Freeman, E., Jani, P., and Millette, C. Expression and potential function of Rho family small G proteins in cells of the mammalian seminiferous epithelium. Cell Communication and Adhesion, 2002, Vol. 9(4), 189-204.</p>
    <h1>Grants</h1>
    <p>Wyman-Potter Foundation (Buffalo, NY), $23,250 to support hourly pay and supply money for three undergraduate research students during the 2024 - 2025 academic year.<br>
        Wyman-Potter Foundation (Buffalo, NY), $10,000 to support stipend and supply money for three undergraduate research students during the summer of 2020.<br>
        The Endocrine Society, $4,000 to support stipend and supply money for one undergraduate research student (Endocrine Society Summer Research Fellow) during the summer of 2019.<br>
        National Science Foundation Noyce grant entitled “Inspire Noyce Scholars to Practice in Rural Environments (INSPIRE).” Co-Principal investigator with Drs. Hildenbrand, Wischnowski, and Gauvin (FLCC faculty member); Dr. Martinez-Hernandez is the PI. 1.4 million award.
    </p>
    <h1>Edward A. Freeman in the News</h1>
    <ul>
        <li><a href="https://www.sjf.edu/news-and-events/news-archive/spring-2021/10000-grant-funds-fisher-research-on-obesity/">$10,000 Grant Funds Fisher Research on Obesity</a></li>
        <li><a href="https://www.sjf.edu/news-and-events/news-archive/fall-2019/nsf-grant/">NSF Grant Helps Fisher, FLCC Boost Rural Teacher Pipeline</a></li>
        <li><a href="https://www.sjf.edu/news-and-events/news-archive/spring-2019/student-awarded-summer-research-fellowship/">Biology Student Awarded Summer Research Fellowship</a></li>
    </ul>
</body>
</html>