<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
</head>

<div class="header">Freeman Lab | St. John Fisher Univeristy</div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a class="active" href="/publications">Publications and Grants</a>
    <a class="active" href="/research">Research</a>
    <a class="active" href="/people">People</a>
    <a class="active" href="/contact">Contact</a>
</div>

<body>
    <h1>Research</h1>
    <p>Dr. Freeman’s research focuses on determining the impact of Endocrine Disrupting Chemicals (EDCs) and diet on various aspects of animal biology. EDCs are prominent in the environment as herbicides, pesticides, plasticizers, heavy metals, and numerous other agents. These compounds have been shown to negatively impact wildlife, laboratory animals, and human populations. The impact of diet is no less meaningful in animals. Recent work has clearly demonstrated a link between sugar and fat content in the diet and the potential to develop numerous chronic conditions such as obesity, type II diabetes mellitus, and cardiovascular disease.</p>
    <h2>Project 1:</h2>
    <p>This line of experimentation has been developed to evaluate the impact of bisphenol (EDCs, plasticizers) exposure during fruit fly 
        development. Specifically, larvae are grown in food containing various concentrations of bisphenols and then evaluated for fat content 
        through a larval buoyancy assay. From these studies, we have shown that multiple bisphenols negatively impact fruit fly biology and 
        clearly impact the rates at which the larval fly adds fat to the fat body.
    </p>
    <h2>Project 2:</h2>
    <p>This line of experimentation has been developed to evaluate the impact of diet (high sugar or high fat) during fruit fly 
        development. Specifically, larvae are grown in food containing various concentrations of sugar or fat that are in excess of 
        control diets. These flies are then evaluated for glucose levels as well as various aspects of reproductive function. Our goal 
        is to evaluate the flies for potential nutritional impacts on epigenetic change through transgenerational studies of type II 
        diabetes mellitus.
    </p>

</body>
</html>